* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}
a {
  color: white;
  text-decoration: none;
  :hover {
    color: white;
    text-decoration: none;
  }
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.7);
  border-radius: 20px;
  border: transparent;
}
@import "./nav";
@import "./aboutme";
@import "./hobbies";
